.landing{
    min-height: 100vh;
}
.landing .container-fluid .row{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}
.landing .icon-container{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 5vh;
}
.landing .icon-container .icon{
    width: 100px;
}
.landing .header{
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.landing .tagline{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
    margin-top: 5vh;
    text-align:center;
}
.landing .tagline .l,
.landing .tagline .r{
    margin-top: 2vh;
    width: 5%;
    height: .2px;
    border: 2px #fff solid;
    border-style:double;
}
.landing .tagline .l{
    margin-right: 15px;
}
.landing .tagline .r{
    margin-left: 15px;
}
.landing .tagline .tag{
    font-size: 1rem;
    font-weight: 600;
}
.landing .container-fluid .row.links{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 10vh;
}
.landing .links .link-container{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    padding: 0px;
    border: 2px solid;
    border-radius: 15px;
    text-align:center;
}
.landing .links .link-container .link{
    width: 100%;
    height: 150px;
    text-decoration: none;
}
.landing .links .link .bi{
    font-size: 2rem;
}
.landing .links .link .title{
    width: 100%;
    margin-bottom: 1rem;
    font-size: .95rem;
    font-weight: 600;
}
.l-center{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}
.navbar.primary-nav .navbar-brand .navbar-brand-icon{
    width: 30px;
    border: 1px solid;
    border-radius: 5px;
}
.primary-nav .dropdown .dropdown-menu .dropdown-item{
    margin-left: 5px;
    width: 90%;
    font-weight: 600;
    border: 1px solid;
    border-radius: 10px;
}
.filters .form-group select{
    cursor: pointer;
}
.filters .form-group label{
    width: 100%;
    padding-top: 5px;
    font-size: .9rem;
    font-weight: 600;
}
.filters .form-group .form-control{
    align-self: left;
    font-size: .7125rem;
    font-weight: 600;
    border-radius: 10px;
}
.filters .form-group .btn{
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: .7125rem;
    font-weight: 700;
}

.filters .nav-item{
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.filters .flex-row{
    width: fit-content;
    padding-left: 1rem;
}
.filters .flex-row .column{
    width: fit-content;
    padding: 0px;
    justify-content: left;
}
.filters{   
    padding-left: 1.5px; 
    padding-right: 2px; 
    margin-bottom: 1rem;
}
.filters .navbar-brand{
    font-size: 1rem;
    font-weight: 600;
}
.filters .btn.btn-primary.navbar-toggler{
    border-width: 1px;
}
.navbar.primary-nav{
    padding-left: 5px;
    padding-right: 5px;
}
.search{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content:center;
    width: 100%;
    text-align: center;
}
.search .search-form{
    width: 90%;
}
.search .btn{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.accounts{
    margin-bottom: 1rem;
}
.accounts .accounts-form{
    padding: 5px;
    border-top: 1px solid;
}
.accounts .row{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}
.accounts .card .card-header{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}
.accounts .card .card-body header{
    margin-bottom: 1rem;
    font-size: 1.15rem;
    font-weight: 600;
    text-align: center;
}
.accounts .card .card-body .social-signup{
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.accounts .card .card-body p{
    text-align: center;
}
.accounts .card .card-body p .bi{
    font-size: 4rem;
}
.accounts .card .card-body .form-group{
    margin-bottom: 1rem;
}
.accounts .card .card-body .form-control{
    font-weight: 600;
}
.accounts .card .card-body .input-group .btn.btn-primary,
.accounts .card .card-body .input-group .btn.btn-primary:active{
    
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.accounts .card .card-body .button-container{
    text-align: center;
}
.accounts .card .card-body .button-container .btn.btn-primary,
.accounts .card .card-body .button-container .btn.btn-primary:active{
    width: 80%;
    font-weight: 600;
}
.accounts .card .card-body .reset-link{
    text-align: center;
}
.accounts .card .card-body .reset-link .link{
    font-weight: 600;
    text-decoration: none;
}

.accounts .card .card-body .reset-link .link:hover{
    text-decoration: underline;
}
.accounts .card .card-body .reset-link span{
    font-weight: 600;
}
.listings{
    padding-bottom: 2rem;
}
.listings .splash-image{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.listings .card .card-footer{
    border: 0px solid;
}
.listings .rating,
.listings .type, 
.listings .pricing,
.listings .location{
    margin-bottom: .25rem;
    width: 100%;
    height:30px;
    border-radius: 10px;
}

.listings .card{
    border-width: 0px;
    margin-bottom: 1rem;
}
.listings .card .card-body,
.listings .card .card-footer{
    padding: 0px;
    border-radius: 5px;
}
.listings .card .card-body{
    margin-bottom: .5rem;
}
.gallery{
    margin-bottom: 2rem;
    padding: 5px;
    border-radius: 5px;
}
.gallery .view{
    width: 100%;
    height: 20vh;
    margin-bottom: .5rem;
    border-radius: 5px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery .image{
    margin-right: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.utilities ul li{
    margin-left: 0px;
    padding-left: 0px;
}
.status i.bi{
    margin-left: 1rem;
    font-weight: 600;
}
.listing{
    padding-bottom: 5rem;
}
.listing .description p{
    width: 80%;
    height: 20px;
    border-radius: 5px;
}
.listing .utilities{
    margin-bottom: 1rem;
}
.listing .utilities ul{
    padding-left: 5px;
    list-style: circle;
}
.listing .utilities ul li{
    width: 60%;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.scheduler{
    margin-bottom: 1rem;
}
.scheduler .card-header{
    font-size: 1.5rem;
    font-weight: 600;
}
.scheduler .form-group{
    margin-bottom: 2rem;
    font-weight: 600;
}
.scheduler .form-group .form-control{
    font-weight: 600;
    text-transform: uppercase;
}
.scheduler .form-group .button-container{
    width: 100%;
    text-align:center;
}
.scheduler .form-group .btn.btn-primary{
    width: 50%;
}
.scheduler .form-group .btn.btn-primary,
.scheduler .form-group .btn.btn-primary:active{
    font-weight: 600;
}
.booking .card-header{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center; 
}

.booking .booking-price{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.booking .price-breakdown{
    list-style: circle;
    text-align: center;
}
.booking .form-group{
    margin-bottom: 1rem;
}
.booking .form-group label{
    font-weight: 600;
}
.booking .form-group .form-control{
    font-weight: 600;
    text-transform: uppercase;
}
.booking .form-group .button-container{
    text-align: center;
}
.booking .form-group .btn.btn-primary,
.booking .form-group .btn.btn-primary:active{
    width: 50%;
    font-size: 1.2rem;
    font-weight: 600;
}
.footer{
    position: fixed;
    bottom: .005px;
    width: 100%;
    z-index: 50000;
}
.footer-toggle-container{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}
.footer .btn.btn-footer{
    padding: 1.5px;
    width: 50px;
    border-radius: 5px;
}

.footer .btn.btn-footer .bi{
    font-weight: 700;
}
.footer .footer-copy{
    padding: 2px;
    font-size: .85rem;
    font-weight: 600;
    text-align:center;
}
.footer .card{
    border-radius: 5px;
}
.footer .card .card-header{
    border-radius: 2px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    font-weight: 600;
    border-radius: 2px;
    text-align: left;
}
.footer .nav-link{
    font-weight: 500;
    cursor: default;
}
.footer .nav-link span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer-icon{
    width: 30px;
    height: auto;
}

.profile-icon{
    margin-right: 0.25rem;
}
.profile-icon .bi{
    font-size: 1.5rem;
}
.profile-icon .icon{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.side-nav{
    width: 100%;
    min-height: 90vh;
    padding-top: 1rem;
    border-right: 1.5px solid;
}
.side-nav .nav .nav-item{
    margin-bottom: 1rem;
    padding-right: 5px;
}
.side-nav .nav .nav-item .nav-link{
    border-radius: 20px;
    border: 1px solid;
    font-weight: 600;
}

@media screen and (min-width: 720px){
    .search .search-form{
        width: 50%;
    }
    .gallery .view{
        height: 70vh;
    }
}
@media screen and (min-width: 1025px){          
    .landing .icon-container .icon{
        width: 150px;
    }
    .landing .header{
        font-size: 3rem;
    }
    .landing .tagline{
        margin-top: 5vh;
    }
    .landing .tagline .l,
    .landing .tagline .r{
        margin-top: 2vh;
        width: 1%;
    }
    .landing .tagline .tag{
        font-size: 1.25rem;
    }
    .landing .links .link-container{
        width: 150px;
        height: 150px;
    }
    .landing .links .link-container .link{
        width: 100%;
        height: 150px;
    }
    .landing .links .link .bi{
        font-size: 4rem;
    }
    .landing .links .link .title{
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .search .search-form{
        width: 30%;
    }
    .filters{
        padding-left: 10px;
    }
    .filters .form-group label{
        width: 100%;
        padding-top: 5px;
        font-size: .9rem;
        font-weight: 600;
    }
    .filters .form-group .form-control{
        font-size: .85rem;
    }
    
    .filters .form-group .btn{
        font-size: .85rem;
    }
    .filters .nav-item{
        margin-right: 2rem;
        margin-bottom: 0px;
    }
    .filters .navbar-brand{
        font-size: 1.05rem;
    }
    
    .gallery .view{
        width: 100%;
        height:70vh;
    }
    .scheduler .form-group{
        font-size: 1rem;
    }
    
    .scheduler .form-group .form-control{
        width: 80%;
    }
    .booking .booking-price{
        font-size: 1.75rem;
    }
    .booking .form-group .form-control{
        width: 60%;
    }
}